.container
  %div{"ng-controller" => "myCtrl"}
    %h3
      = t(:products)
    .row
      - products.each_with_index do |product, index|
        .product.col-xs-6.col-sm-3
          %h4
            = product.name
          %p
            = number_to_currency(product.price)
          %ngcart-addtocart{id: product.id, :name => product.name, :price => product.price, :quantity => "1", "quantity-max" => "5"}
            = t(:add_to_cart)
    %hr
    = render 'shared/cart'
    %hr
    = render 'shared/checkout'

